# dependencies
node_modules/
.pnp
.pnp.js

# testing
/coverage

# next.js
frontend/.next/
frontend/out/

# python / venv
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
backend/venv/
backend/.venv/

# env files (NEVER commit secrets!)
.env
backend/.env
frontend/.env.local

# vercel
.vercel

# IDE / OS
.DS_Store
*.pem
.vscode/
.idea/
